body{
    margin: 0 ;
    background-color:rgb(246, 232, 219);
    border-radius: 20px;
}


header{
    padding: 20px;
    background-color: rgb(245, 229, 214) ;
    text-align: center;
    font-family:'Lucida Handwriting';
    font-size:x-large ; 
    
}

header h1{
   color: rgb(94, 60, 43); 
}
#header1{
    color: inherit; 
    text-decoration: none;
}


.products{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 40px ;
    gap: 40px;
}

.product-card{
background-color:rgb(246, 232, 219);
;
border-radius: 15px;
box-shadow: 0 5px 10px rgba(0,0,0,0.05);
text-align: center;
padding: 15px;
transition: transform 0.3s ease;
}

/*animation*/
.product-card:hover {
    transform: translateY(10px);
  }


.product-card img {
    width: 50%;
    height: 180px;
    border-radius: 15px;
}

.product-card h3 {
    cursor: pointer;
    font-size: 20px;
  }
  
.product-card p {
    color: #845057;
    font-weight:bold;
    cursor: pointer;
    border-radius: 999px;
    
  }  

.price{
    background-color: rgb(246, 232, 219); 
    color:#a0522d;;
    border: none;
    padding: 10px 18px;
    margin-top: 8px;
    font-weight: bold;
    font-size: x-large;
}   

.add-to-cart{
    color:white;
    background-color:rgb(160, 82, 45) ;
    border: none;
    padding: 10px 18px;
    margin-top: 8px;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;   
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
  
  footer a {
    color: rgb(0,0,0);
  }

  form{
    background-color: rgb(246, 232, 219) ;
    max-width: 400px;
    padding: 10px;
    margin-left: 125px;
  }

  form p {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
    }

  form button{
    color:white;
    background-color:rgb(160, 82, 45) ;
    border: none;
    padding: 10px 18px;
    margin-top: 12px;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;   
    margin-left: 8px;
  }
  textarea {
    width: 85%;
    height:20px ;
    padding: 8px;
    font-size: 14px;
    border-radius: 18px;
    resize: none;
    overflow-y: hidden;
  }
