:root {
  --backcolor: rgb(246,236,223);
  --img-text: rgb(153 97 44);
  --div-color: rgb(247, 230, 209);  
  --nav-text1: rgb(89,15,15);
  --nav-bgcolor1: rgb(244,231,215);
  --button-text1:white;
  --buttonbg: #a0522d;
  --labelcol:#8b4513;
}
body{
    background-color: var(--backcolor) ;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
  
 
body.dark{
  --backcolor: #2a2723;
  --img-text: white;
  --div-color: #F6F2EC;  
  --nav-text1: #f5f5f5;
  --nav-bgcolor1: #2b2b2b;
  --button-text1:#ffffff;
  --buttonbg:rgb(64,58,48,0.9);
  --labelcol:#F6F2EC;
} 

.navbar {
  background-color: var(--nav-bgcolor1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  height: 55px;

}

nav button {
  margin-right: 30px;
  border-radius: 10px 10px;
  border: none;
  background-color: var(--nav-bgcolor1);
  cursor: pointer;
  font-size: 30px;


}

.navbar .logo img {
  width: 150px;
  display: inline-block;

}

.navbar .link {
  display: flex;
  justify-content: center;
  flex-grow: 1;

}

.navbar .link li {

  list-style: none;
  display: inline-block;
  margin-right: 70px;
  text-align: center;

}

.link li a {
  text-decoration: none;
  color: var(--nav-text1);

}

.link li a:hover {
  color: rgb(192, 98, 98);

}

.link li img {
  width: 15px;
  margin-right: 5px;

}









  .photo{
   position: relative;
  }

  .text{
    position: absolute;
    top: 5px;
    color: rgb(153 97 44);

  }
  .text h3{
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
    margin-left: 530px;
    
    
  }
  .text h2{
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    margin-left: 450px;
    
  }
  .text h4{
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    margin-left: 300px;
    
  }

  
 input,textarea{
    width: 450px;
    margin: 10px 0;
    padding: 10px;
    display: block;
    border: 2px solid #b96d36;
    border-radius: 10px 10px;
    box-sizing: border-box;
   
  
  label{
    color: var(--labelcol);
    font-family: "Roboto Mono", monospace;
  }

.form {
  position: static;
 
  margin-top: 75px;
  
}
.photo{
  height: 350px;
  width: 100%;
}
button {
  padding: 10px 20px;
  background-color: var(--buttonbg);
  color: var(--button-text1);
  border: none;
  border-radius: 10px 10px;
  cursor: pointer;
}
button:hover {
  background-color: #8b4513;
}
input:focus , textarea:focus{
  border: 3px solid #803e10;
  outline: none;
  
}


.call ,.whatsapp ,.email, .shop{
  background-color: var(--div-color) ;
  display:inline-block;
  width: 35%;
  border-radius: 8px;
  padding: 20px;
  font-family:"Roboto Mono", monospace; 
  color: #8b4513;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
  transition: transform 0.3s;

} 
.email:hover{
  transform: scale(1.03);
}
.whatsapp:hover{
  transform: scale(1.03);
}
.call:hover{
  transform: scale(1.03);
}
.shop:hover{
 transform: scale(1.03);
}
.all{
  display: flex;
}



button:hover{
 background-color:rgb(247, 230, 209); ; }


 


 
