body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100;
  font-size: medium;
  background-color: var(--backg-color);
  transition-duration: 1s;
}
.titlebody {
  justify-items: center;
  padding: 10px 0px 0px 0px;
  font-size: x-large;
}
.title {
  color: rgb(250, 181, 102);
  text-decoration: none;
}
#head {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color:var(--nav-bgcolor);
  transition-duration: 1s;
  position: initial;
  height: 27px;
  width: 1245px;
}
#theme {
  background-color: none;
}
:root {
  --backg-color:rgb(235, 212, 172);
  --nav-bgcolor: rgb(244, 231, 215);
  --button-bg:rgb(170, 123, 65);
  --button-text:rgb(89, 15, 15);
  --cards:rgb(228, 195, 135);
  --cardColor:rgba(66, 43, 15, 0.685);
}
body.dark {
  --backg-color:rgb(46, 42, 42);
  --nav-bgcolor:  #1d1c1c;
  --button-bg:#504f4f;
  --button-text: white;
  --cards:#000000;
  --cardColor:rgb(46, 42, 42);
}
.logo {
  width: 70px;
  border-radius: 10%;
}
#head a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: var(--button-text);
}
#upperbtn {
  width: 15px;
  border-radius: 100%;
}
li {
  list-style: none;
  margin: 2px 35px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
#head button {
  color: white;
  background-color: var(--nav-bgcolor);
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 15px;
  border: 0;
}
.imgCover {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  border-radius: 30px;
}
.cover {
  color: white;
  padding: 0px 0px 50px 10px;
  font-size: large;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
.adding {
  position: flex;
  color: white;
  background-color: var(--button-bg);
  padding: 5px 13px;
  text-decoration: none;
  border-radius: 30px 5px;
  border: 0;
}
.adding:hover {
  background-color: rgb(161, 117, 62);
}
.card {
  width: 25%;
  height: 100%;
  background-color: var(--cards);
  padding: 5px 5px;
  justify-items: center;
  border-radius: 30px 5px;
  color: var(--cardColor);
  transition-duration: 1s;
}
.card img {
  width: 100%;
  border-radius: 30px 5px;
}
.card:hover {
  background-color: rgb(63, 40, 14);
  color: rgb(250, 181, 102);
  width: 27%;
}
footer {
  position: absolute;
  font-family: "Lucida handwriting";
  width: 100%;
  text-align: center;
  font-size: larger;
  color: var(--cardColor);
  transition-duration: 1s;
  font-size: large;
}
footer a {
  text-decoration: none;
  color: rgb(204, 128, 28);
}

#scroller {
  position: fixed;
  bottom: 40px;
  right: 47.6%;
  background-color:var(--button-bg) ;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  display: none;
}
