:root{
  --back-c:rgb(244, 231, 215);
--navtextt:rgb(89,15,15);
  --hcolor:#4E1F00;
  --prod-bg:#FEFAF6;
  --buttons:#F3DEBA
  --button-text:rgb(19, 11, 0);
  --itemm:black;
  --pr:
}
  
body {
   position: relative;
    text-align: center;
     margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var( --back-c);     
  
}

body.dark{
   --back-c:#1e1e1e;
  --navtextt:#f5f5f5;
   --hcolor:#F3DEBA;
  --em:white;
  --shadow:none;
  --prod-bg:#1e1e1e;
  --buttons:rgb(64,58,48,0.9);
  --button-text:#f5f5f5;
  --itemm:rgb(245, 245, 220);
  --pr:#D8D9DA
}

  
.navbar {
    background-color: var(--nav-bgcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 55px;

}

nav button {
    margin-right: 30px;
    border-radius: 10px 10px;
    border: none;
    background-color: var(--nav-bgcolor);
    cursor: pointer;
    font-size: 30px;


}

.navbar .logo img {
    width: 150px;
    display: inline-block;

}

.navbar .link {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.navbar .link li {

    list-style: none;
    display: inline-block;
    margin-right: 70px;
    text-align: center;

}

.link li a {
    text-decoration: none;
    color: var(--navtextt);

}

.link li a:hover {
    color: rgb(192, 98, 98);

}

.link li img {
    width: 15px;
    margin-right: 5px;

}






.search{
   margin-top:  10px; ;
   text-align: center;
   width: 250;
}
.search input[type="text"]{
    padding: 8px;
    border: 2px solid #F8EEDF;
    border-radius: 5px;
    outline: none;
   

}
#search-pastries{
    width: 400px;
    height: 20px;
    padding: 5px;
}
.search button{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--buttons);
    color: rgb(12, 8, 8);
    cursor: pointer;
    width:150px ;
    height: 33px;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal
   transition: transform 0.3 ease,box-shadow 0.3s ease ;
  
}

.search button:hover{
     background-color:
    transform: translatez(-10px) scale(1.03);
        box-shadow: 0 4px 8px #74512D;
}
    .title{ 
       
    background-repeat: no-repeat;
    background-position: center;
}
    
h1{
    font-family: "Poetsen One", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 100px;
  
    color: #4E1F00;
   


}

.h2{
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    top:-25px;
    position: relative;
    color: #4E1F00;

   
}
.h3{
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
   font-weight: bold;
    font-style:normal;
    font-size: 30PX;
    color: #4E1F00;
    
    
}
.h1{
  text-shadow:var(--shadow);}
h1,.h2,.h3{
  color:var(--hcolor);}
.emoji p{
  color:var(--em);}
.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    box-sizing: border-box;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    
}
    .items{
        width:30%;
      
        background-color: var( --prod-bg);
        border-radius: 20px;
        aspect-ratio:1/1 ;
        padding: 10px;
        box-shadow: 0 3px 6px rgb(243, 225, 225);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition:transform 0.3 ease,box-shadow 0.3s ease ;
        cursor: pointer; 
    

    }
    

  .items:hover{
        transform: translateY(-10px) scale(1.03);
        box-shadow: 0 12px 20px #74512D;
    }

.items img{
width: 200px;
height: 200px;
margin-top: 15px;
object-fit: cover;
border-radius: 15px;
margin-bottom: 15px;
display: block;
margin-left: auto;
margin-right: auto;

}
.items h3{
    margin: 10px 0 5px;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
  color:var(--itemm);
  
}

.price{
    font-size: 20PX;
margin-bottom: 10px;
font-family: "Concert One", sans-serif;
font-weight: 400;
font-style: normal;
  color:var(--pr);

}


 .count1 button {
    padding: 5px 10px;
font-size: 20px;
background-color:var(--buttons);
color: var(--button-text);
border: none;
border-radius:10px;
cursor: pointer;
transition:  0.3s ease;
font-weight: bold;
font-size:15PX;


}




. count1 button:hover{
background-color: #C9B194;
transition: 0.3s ease;

}
.count2{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
color:var(--pr);
}
.add{ 
    width:120px;
    height: 50px;
    margin-top: 15px;
    margin: 10px auto;
    display: block;
    align-items: center;
    justify-content: center;
  border: none;
  padding: 8px 12px;
    border-radius:12px;
    color: var(--button-text);
    font-size: 16px;
    cursor: pointer;
    font-family: "Poetsen One", sans-serif;
    font-weight:500PX;
    font-style: normal;
    background:  var(--buttons);
transition: transform 0.2s ease;}


.add:active{
    transform: scale(1.1);}
.add:hover{
    background-color: #FEFAF6;
}
.header{
    position: relative;
    height: 100px;
    
}
.click{
    text-align: center;
    margin: 20px;  
    display: flex;
    justify-content: center;
}
.emoji{
display: flex;
flex-direction: column;
align-items: center;
}
.emoji label{
    cursor: pointer;
font-size: 45px;
display: flex;
flex-direction: column;
align-items: center;
}

  .emoji p{
    margin: 8px;
    font-size: 23px;
    font-family: "Poetsen One", sans-serif;

}
.emoji input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 30px;

}


