* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbgcolor: rgb(246, 236, 223);
    --navtext: rgb(89, 15, 15);
    --rightbg: #E5D0AC;
    /* --bg:#E5D0AC; */
    --leftbg: #E5D0AC;
    --buttons: #550808;
    --shadow: #550808;
    --pricebutton: #E5D0AC;
    --backproduct: #c9ae86;
    --active: #550808;
    --all: #F5ECD5;


}

body.dark {
    --navbgcolor: #2b2b2b;
    --navtext: #f5f5f5;
    --rightbg: #2b2b2b;
    --leftbg: #2b2b2b;
    --buttons: rgb(64, 58, 48, 0.9);
    --shadow: #f5f5f5;
    --pricebutton: rgb(64, 58, 48, 0.9);
    --backproduct: #1e1e1e;
    --active: #1e1e1e;
    --all: #1e1e1e;
}

body {
    background: var(--all);
}

.navbar {
    background-color: var(--navbgcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 55px;

}

nav button {
    margin-right: 30px;
    border-radius: 10px 10px;
    border: none;
    background-color: var(--navbgcolor);
    cursor: pointer;
    font-size: 30px;

}

.navbar .logo img {
    width: 150px;
    display: inline-block;

}

.navbar .link {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.navbar .link li {

    list-style: none;
    display: inline-block;
    margin-right: 70px;
    text-align: center;

}

.link li a {
    text-decoration: none;
    color: var(--navtext);

}

.link li a:hover {
    color: rgb(192, 98, 98);

}

.link li img {
    width: 15px;
    margin-right: 5px;

}


.left-side {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background: var(--rightbg);
    background-image: url("logono.png");
    background-size: 300px;
    /* background-size: contain; */
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: 5px 5px;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    height: atuo;
    flex: 2 1 50%;
    min-width: 400px;
    background: var(--rightbg);
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--navtext);
}


#pricebutton {
    width: 40%;
    padding: 5px 5px;
    flex: 1 1 200px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 0%;
    margin-bottom: 5px;
    font-size: medium;
    border: var(--navtext);
    border-style: double;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--shadow);
    background-color: var(--pricebutton);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--navtext);
}


.active {
    background-color: var(--active) !important;
    color: aliceblue !important;
    transform: scale(1.025);
    box-shadow: 5px 5px 10px #754c23;

}

#priceOption {
    display: flex;
    gap: 5px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

#priceOption input{
    width: 15%;
    margin-left:20px;
    margin-right: 5px;
    gap: 20px;
    border: #550808;
    border-style: solid;
    border-radius: 5px;
}

.sort-btn{
    display:flex ;
    flex-direction: row;
    gap: 20px;
    margin-left: 12%;
}

#priceOption button {
    padding: 10px;
    width: 6%;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: medium;
    border: var(--navtext);
    border-style: double;
    box-shadow: 2px 2px 5px var(--shadow);
    background-color: #E5D0AC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--buttons);
}

.imagess {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: 15px ;
    justify-content: center;

}
.image {
    background-color:var(--backproduct);
    width: 100%;
    max-width: 300px ;
    height: 450px ; 
    border:  var(--navtext);
    border-style: double;
    border-radius: 10%;  
    padding-top: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
    color:  var(--navtext);;
    font-size: larger;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    transition: transform 0.03s  ease , box-shodow 0.03 ease;
    margin-top: 0;
}

.image:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 10px var(--shadow);
}

.image h3 {
    margin-bottom: 0;
}

.image p {
    margin: 0;
}

.image img{
    width: 75%;
    height: 70%;
    max-height: 300px;
    border-radius: 10%;
}

.add{
    margin-top: 2%;
    width: 80%;
    max-width: 200px;
    min-width: 120px;
    /* border: #550808; */
    border: none;
    /* border-style:solid ; */
    border-radius: 10px;
    padding: 5px ;
    box-shadow: 3px 3px 5px var(--shadow);
    background-color: var(--buttons);
    font-size: medium;
    color: aliceblue;
    cursor: pointer;
}

.counter button {
padding: 5px 10px;
font-size: 20px;
background-color: var(--buttons);
color: aliceblue;
border: none;
border-radius:10px;
cursor: pointer;
transition:  0.3s ease;
font-weight: bold;
font-size:15PX;
}
